{
    "swagger": "2.0",
    "x-navigateMethodsByName": true,
    "x-sortMethodsBy": [
        "summary",
        "path",
        "operation"
    ],
    "host": "flightseatreservation.com",
    "info": {
        "description": "This is small api for a flight seat reservation system",
        "version": "1.0.0",
        "title": "Flight Seat Reservation",
        "contact": {
            "email": "migdress@hotmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "basePath": "/v1",
    "tags": [
        {
            "name": "flights",
            "description": "Flights API"
        }
    ],
    "schemes": [
        "http"
    ],
    "paths": {
        "/flights/{date_from}/{date_to}": {
            "get": {
                "tags": [
                    "flights"
                ],
                "summary": "01. List available flights",
                "operationId": "flights-list",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "date_from",
                        "in": "path",
                        "description": "the 'FROM' date criteria to search for flights",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    },
                    {
                        "name": "date_to",
                        "in": "path",
                        "description": "the 'TO' date criteria to search for flights",
                        "required": true,
                        "type": "string",
                        "format": "date"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successfully list available flights by derpature_date given a range of dates",
                        "schema": {
                            "type": "array",
                            "items": {
                                "title": "Available flights",
                                "type": "object",
                                "properties": {
                                    "departure": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "seats": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "row": {
                                                    "type": "integer"
                                                },
                                                "letter": {
                                                    "type": "string",
                                                    "minLength": 1,
                                                    "maxLength": 1
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad request",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "no flights were found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        },
        "/flights/reserve": {
            "post": {
                "tags": [
                    "flights"
                ],
                "summary": "02. Reserve a seat",
                "operationId": "flights-reserve-seat",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Request for seats-reserve",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "title": "seats-reserve-request-body",
                            "required": [
                                "flight_id",
                                "seat_id",
                                "passenger_id"
                            ],
                            "properties": {
                                "flight_id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "unique id of the flight"
                                },
                                "seat_id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "description": "unique id of the seat"
                                },
                                "passenger_id": {
                                    "type": "string",
                                    "description": "passenger identification"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Seat reserved successfully"
                    },
                    "400": {
                        "description": "malformed json, missing required fields",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "422": {
                        "description": "<b>Unprocessable entity</b><br>flight or seat is not available",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    },
                    "404": {
                        "description": "flight or seat not found",
                        "schema": {
                            "$ref": "#/definitions/errors"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "flight": {
            "title": "Flight",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "departure": {
                    "type": "string",
                    "format": "date-time"
                },
                "seats": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "format": "uuid"
                            },
                            "passenger_id": {
                                "type": "string"
                            },
                            "row": {
                                "type": "integer"
                            },
                            "letter": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 1
                            }
                        }
                    }
                }
            }
        },
        "errors": {
            "title": "errors",
            "type": "object",
            "properties": {
                "errors": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        }
    }
}